[submodule "Nigredo/vendor/spdlog"]
	path = Nigredo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nigredo/vendor/GLFW"]
	path = Nigredo/vendor/GLFW
	url = https://github.com/MaxKruse/glfw
